body {
    background-color: grey;
  }
  .container-main {
    text-align: center;
  }
  .container-survey {
    width: 50%;
    top: 50px;
    border-bottom: 50px;
    background-color: blue;
    display: inline-block;
    border-radius: 2%;
  }
  p {
    color: black;
  }
  #number {
    height: 6px;
    width: 225px;
  }
