body {
  background-color: #1d8a99;
  color: #022f40;
}
.container-main {
  text-align: center;
}
.container-survey {
  width: 75%;
  top: 50px;
  background-color: #022f40;
  color: #38aecc;
  display: inline-block;
  border-radius: 2%;
  font-weight: bold;
}
.row {
  height: 40px;
  margin-top: 20px;
}
#like-row {
  margin-top: 60px;
}
.col-1 {
  display: block;
  float: left;
  width: 48%;
  text-align: right;
  margin-right: 2%;
}
.col-2 {
  float: right;
  width: 50%;
  text-align: left;
}
#name {
  width: 60%;
}
#email {
  width: 60%;
}
#number {
  height: 6px;
  width: 60%;
}
.dropdown-styling {
  height: 33px;
  width: 60%;
}
#improve-row {
  height: 230px;
}
#comments-row {
  margin-top: 50px;
  height: 75px;
}
#comments {
  width: 60%;
}
#submit {
  height: 40px;
  margin-bottom: 30px;
}
#page-footer {
  margin: 2%;
  font-weight: bold;
}
